@media ( min-width : 1200px) {
	.modal {
		width: 98%;
		margin-top: -21%;
		margin-left: -49%;
	}
}

/* Portrait tablet to landscape and desktop */
@media ( min-width : 768px) and (max-width: 979px) {
	.modal {
		width: 98%;
		margin-top: -21%;
		margin-left: -49%;
	}
}

/* Landscape phone to portrait tablet */
@media ( max-width : 767px) {
	.modal {
		width: 98%;
		margin-top: -21%;
		margin-left: -49%;
	}
}

/* Landscape phones and down */
@media ( max-width : 480px) {
	.modal {
		width: 98%;
		margin-top: -21%;
		margin-left: -49%;
	}
}